:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}
img {
  display: block;
  object-fit: contain;
}

.header {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 60px;
}

.header__picture {
  display: block;
}

.header__picture img {
  width: 100px;
}

.main {
  margin-top: 100px;
}

.button {
  padding: 5px 20px;
  border-radius: 25px;
  border: 0;
}

.header__button {
  color: var(--pink);
  background-color: #fff;
  border: 1px solid var(--pink);
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.main__title {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
}

.title_container,
.text_container,
.main__button__container {
  display: block;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.text_container {
  margin: 2rem auto;
}

.text {
  font-size: 1.3rem;
  text-align: center;
}

.hero {
  width: 100%;
  padding: 0 20px;
}

.main__button,
.start__button {
  color: #fff;
  padding: 10px 40px;
  font-weight: 700;
  background-color: var(--pink);
  box-shadow: 0px 1px 6px -2px #000;
  margin-bottom: 50px;
}

.hero__image img {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.metrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.communities,
.messages {
  width: 60%;
  margin: 30px 0;
}

.metrics__icon img {
  width: 30px;
}

.metrics__span {
  font-size: 5rem;
  font-weight: 700;
}

.metrics__sample-text {
  font-size: 1.3rem;
  margin-left: 1.5rem;
}

.communities .metrics__sample-text {
  margin: 0;
}

.blue_bg,
.white_bg {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.blue_bg {
  background-color: var(--very-pale-blue);
  height: 700px;
}

.white_bg {
  height: 500px;
}

.white_wave_top,
.white_wave_bottom {
  position: absolute;
  background-color: #fff;
  height: 100px;
  width: 100%;
}

.white_wave_top {
  top: 0;
}

.white_wave_bottom {
  bottom: 0;
}

.characteristics__image {
  height: 230px;
  margin-top: 150px;
}

.characteristics__image img {
  width: 230px;
  height: inherit;
}

.characteristics__text {
  width: 80%;
  height: max-content;
  margin-bottom: 150px;
}

.characteristics__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
}

.white_bg .characteristics__image {
  margin-top: 20px;
}

.white_bg .characteristics__text {
  margin-bottom: 0;
}
