:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  margin: 0 auto;
}

img {
  display: block;
  object-fit: contain;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 60px;
}

.header__picture {
  display: block;
}

.header__picture img {
  width: 100px;
}

.main {
  margin-top: 100px;
}

.button {
  padding: 5px 20px;
  border-radius: 25px;
  border: 0;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header__button {
  color: var(--pink);
  background-color: #fff;
  border: 1px solid var(--pink);
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.main__title {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
}

.title_container,
.text_container,
.main__button__container {
  display: block;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.text_container {
  margin: 2rem auto;
}

.text {
  font-size: 1.3rem;
  text-align: center;
}

.hero {
  width: 100%;
  padding: 0 20px;
}

.main__button,
.start__button {
  color: #fff;
  padding: 10px 40px;
  font-weight: 600;
  background-color: var(--pink);
  box-shadow: 0px 1px 6px -2px #000;
  margin-bottom: 50px;
}

.hero__image img {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.metrics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.communities,
.messages {
  width: 60%;
  margin: 30px 0;
}

.metrics__icon img {
  width: 30px;
}

.metrics__span {
  font-size: 5rem;
  font-weight: 700;
}

.metrics__sample-text {
  font-size: 1.3rem;
  margin-left: 1.5rem;
  opacity: 0.4;
}

.communities .metrics__sample-text {
  margin: 0;
}

.blue_bg,
.white_bg {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}

.blue_bg {
  background-color: var(--very-pale-blue);
  height: 700px;
}

.white_bg {
  height: 500px;
}

.white_wave_top,
.white_wave_bottom,
.blue_wave_top,
.blue_wave_bottom {
  height: 100px;
  width: 100%;
  background-color: #fff;
  background-repeat: no-repeat;
}

.white_wave_top {
  background-image: url("./images/bg-section-top-mobile-1.svg");
}

.blue_wave_top {
  background-image: url("./images/bg-section-top-mobile-2.svg");
}

.white_wave_bottom {
  background-image: url("./images/bg-section-bottom-mobile-1.svg");
}

.blue_wave_bottom {
  background-image: url("./images/bg-section-bottom-mobile-2.svg");
}

.characteristics__image {
  height: 230px;
  margin-top: 150px;
}

.characteristics__image img {
  width: 230px;
  height: inherit;
}

.characteristics__text {
  width: 80%;
  height: max-content;
  margin-bottom: 150px;
}

.characteristics__title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 16px;
}

.white_bg .characteristics__image {
  margin-top: 20px;
}

.white_bg .characteristics__text {
  margin-bottom: 0;
}

.start {
  padding: 50px 0 150px;
  position: relative;
}

.start__info {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.start__title {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
}

.start .white_wave_bottom {
  height: 53px;
}

.footer {
  background-color: var(--very-dark-cyan);
  height: auto;
  color: #fff;
  padding: 50px 15px 15px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
}

.footer_dark_wave {
  background-image: url("./images/bg-footer-top-mobile.svg");
  background-repeat: no-repeat;
  height: 50px;
}

.footer__title {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__text {
  display: block;
  width: 80%;
  text-align: left;
  margin: 15px 0 30px;
  line-height: 2.2rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.form__input {
  display: block;
  width: 100%;
  height: 4rem;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 2rem;
  border: 1px solid transparent;
}

.form__button {
  padding: 15px 35px;
  border-radius: 5px;
  background-color: var(--pink);
  color: #fff;
  font-weight: 700;
  margin-top: 10px;
}

.footer__icon {
  display: block;
  height: auto;
}

.footer__list {
  list-style: none;
}

.footer__list .list__item {
  display: flex;
  font-size: 1.3rem;
  margin: 15px 0;
}

.list__item span {
  margin-left: 20px;
  opacity: 0.8;
}

.socialMedia {
  display: flex;
  font-size: 2.5rem;
  margin-top: 20px;
  width: 100px;
  justify-content: space-between;
}

.socialMedia a {
  color: white;
}

.socialMedia span,
a {
  transition: all 0.3s;
}

.socialMedia span:hover,
.socialMedia a:hover {
  cursor: pointer;
}

.twitter:hover {
  color: #00acee;
}

.text__red {
  color: red;
}

.text__green {
  color: green;
}

@media screen and (min-width: 768px) {
  .white_wave_bottom,
  .white_wave_top,
  .blue_wave_bottom,
  .blue_wave_top,
  .footer_dark_wave {
    background-size: cover;
    height: calc(100px + 12vh);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 120px;
  }

  .header__picture img {
    width: 200px;
  }

  .main__title {
    font-size: 4rem;
  }

  .main__text {
    font-size: 1.8rem;
    width: 45%;
    margin: 0 auto;
  }

  .main__button {
    padding: 15px 70px;
  }

  .hero__image img {
    width: 60%;
  }

  .metrics {
    justify-content: space-evenly;
  }

  .metrics p {
    font-size: 1.7rem;
  }

  .metrics span {
    font-size: 7rem;
  }

  .communities,
  .messages {
    width: auto;
  }

  .white_wave_bottom,
  .white_wave_top,
  .blue_wave_bottom,
  .blue_wave_top,
  .footer_dark_wave {
    height: 155px;
  }

  .white_wave_top {
    margin-top: 150px;
    background-image: url("./images/bg-section-top-desktop-1.svg");
  }

  .blue_wave_top {
    margin-top: 150px;
    background-image: url("./images/bg-section-top-desktop-2.svg");
  }
  .blue_wave_bottom {
    background-image: url("./images/bg-section-bottom-desktop-2.svg");
  }

  .white_wave_bottom {
    background-image: url("./images/bg-section-bottom-desktop-1.svg");
  }

  .white_bg,
  .blue_bg {
    align-items: center;
  }

  .blue_bg {
    flex-direction: row-reverse;
  }

  .blue_bg,
  .white_bg {
    height: 350px;
  }

  .characteristics__image {
    height: 300px;
    margin: 0;
  }

  .characteristics__image img {
    width: 500px;
  }

  .characteristics__text {
    width: 550px;
    margin: 0;
    padding-right: 70px;
  }

  .white_bg .characteristics__text {
    padding: 0 70px 0 0;
  }

  .characteristics__title,
  .characteristics__information {
    text-align: left;
  }

  .characteristics__title {
    font-size: 3rem;
  }

  .characteristics__information {
    font-size: 1.5rem;
  }

  .footer_dark_wave {
    background-image: url("./images/bg-footer-top-desktop.svg");
  }

  .start__title {
    font-size: 3rem;
    margin-bottom: 20px;
  }

  .start__button {
    width: auto;
    display: block;
    margin: 0 auto;
    padding: 15px 60px;
  }

  .form {
    align-items: center;
    justify-content: initial;
  }

  .footer__container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 100px 100px 50px 100px;
    max-width: 1440px;
    margin: 0 auto;
  }

  .footer__newsletter,
  .footer_about {
    height: 250px;
  }

  .footer__newsletter {
    width: 480px;
  }

  .footer_about {
    display: block;
    width: 500px;
    margin-right: 180px;
  }

  .footer_about .footer__text {
    width: 60%;
  }

  .footer__text {
    width: 70%;
  }

  .form__input {
    width: 300px;
    height: 4.5rem;
    margin-right: 20px;
  }

  .form__button {
    margin: 0;
  }
}
